$home_page_action_font_size: 20px;
$home_page_content_font_size: 20px;

$home_page_action_font_size_medium: 18px;
$home_page_content_font_size_medium: 18px;

$home_page_action_font_size_small: 15px;
$home_page_content_font_size_small: 15px;

$default_action_font_size: 20px;

$button_font_size_small: 13px;

$my_forcasts_title: 60px;
$my_forcasts_title_small: 30px;
$no_forcasts_size: 24px;
$no_forcasts_size_small: 20px;
